<div class="filterable-list">
  <%= render :partial => "filters" %>

  <div class="results">
    <%= render partial: 'results_count', locals: { results: @books } %>
    <%= render partial: 'results', locals: { books: @books } %>
  </div>
</div>
